.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-image: url("../media/images/mountains2.jpg");
  background-size: 2000px 1000px;
  object-fit: none;
}

h1 {
  text-align: center;
  margin: 40px;
}

img {
  width: 400px;
}

p {
  font-weight: bold;
  background-image: radial-gradient(white, #6E7474);
  padding: 20px;
  border: 2px solid black;
  background-color: white;
  margin: 50px;
  margin-left: 250px;
  margin-right: 250px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  p {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media only screen and (max-width: 700px) {
  p {
    margin-left: 20px;
    margin-right: 20px;
  }

  img {
    width: 80%;
  }
}
